body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: var(--off1);
}

:root {
    --color: #29abe2;
    --color2: #eb088c;
    --color3: #fcee21;
    --accent: #eb088c;
    --off1: #f5f5f5;
    --off2: #dedede;
    --off3: #c7c7c7;
    --off4: #999999;
    --off5: #6b6b6b;
    --gradient: rgba(0, 0, 0, 0.62);
    --gradient2: rgba(255, 255, 255, 0.2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.4s ease-in-out;
}

main {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
}

section,
footer {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.highlight {
    position: relative;
    background-color: var(--off1);
    padding: 1rem;
    border-radius: 0.6rem;
}

.spotlight {
    font-weight: 400;
}

.bg-black {
    background-color: black;
}

.bg-off {
    background-color: var(--off3);
}

.bg-white {
    background-color: white;
}
.bg-white:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.2) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.1) 0px 1px 3px -1px;
}

.rounded {
    border-radius: 0.6rem;
    padding: 2rem;
}

.heroImg {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 20rem;
}

.shadow {
    box-shadow: rgba(50, 50, 93, 0.1) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.1) 0px 1px 3px -1px;
}

.relative {
    position: relative;
}

.highlight2 {
    font-weight: 400;
}

.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem;
}

nav {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
}

hr {
    margin-right: 4rem;
    margin-left: 4rem;
    opacity: 0.2;
}

.text-white {
    color: white;
}

.dot {
    height: 4rem;
    width: 4rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.color3 {
    background-color: #c79850;
}

.color2 {
    background-color: black;
}

.color1 {
    background-color: white;
}

.carousel {
    overflow: hidden;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.active {
    color: var(--accent);
}

/*  */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-pagination {
    bottom: 0;
    z-index: 999;
    overflow: visible;
}

/* TABLE STYLES */


.table{
	width: 100%;
	border-collapse: collapse;
}

.table td,.table th{
  padding: 1rem;
  border:1px solid var(--off2);
  text-align: center;
  font-size: 1rem;
}

.table th{
	background-color: var(--off2);
	color: black;
}

.table tbody tr:nth-child(even){
	background-color: var(--off2);
}

/*RESPONSIVE*/

@media(max-width: 1280px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}
